.logo{
    width: 150px;
}

.bg-brand{
    background-color: #6AC2B3;
}
.text-brand{
    color: #6AC2B3;
}
.bg-brand2{
    background-color: #efa960;
}
.text-brand2{
    color: #efa960;
}

.bg{
    background: url('/img/bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}